@utility nav-sidebar {
    /* layout and positioning */
    @apply fixed top-nav left-0 z-[1000] p-5;

    height: calc(100vh - var(--spacing-nav));

    /* Colors, appearance, and effects */
    @apply bg-tea-steam-green;
    @apply rounded-tr-2xl;
    @apply shadow-sidebar-fallback;
    @apply shadow-sidebar;

    transition: box-shadow 0.2s ease-in-out;
}

@utility nav-sidebar-list {
    /* layout and positioning. pb-5 is needed to show the threads underline for the final item in the list. */
    @apply flex flex-col items-start gap-y-7 pb-5;
}

@utility nav-sidebar-list-item {
    /* Layout and positioning. Relative so we can absolutely position underlines and they will not move nav items. */
    @apply relative flex flex-col items-start w-full;
}