@layer base {
    html, body {
        @apply bg-tea-steam-green;
        font-family: var(--font-body);
        /* Prevent space alotted to vertical scrollbar from going away when user clicks hamburger menu. */
        scrollbar-gutter: stable;
    }
}